body {
    font-family: 'Syne Mono', monospace;
    background: #F0F0F0;
}

nav {
    background-color: #9CE49F;
    height: 70px !important;
}


.button {
  background-color: #9CE49F !important;
  border-color: black !important;
  border-radius: 2em !important;
  color: black !important;
}

label {
  font-size: 32px;
  padding: 5% 0;
}

input {
  background-color: #D9D9D9 !important;
  border-radius: 2em !important;
  width: 100% !important;
}

.func-card {
  padding-top: 3.5em;
  background-color: #9CE49F;
  padding-bottom: 1em;
}

.nav-item {
  padding-right: 5%;
  text-align: right;
}

.toggler-icon {
    position: absolute;
    right: 0;
    margin-right: 5%;
}

.google-icon {
  font-size: 35px;
  vertical-align: top;
}

.flash-message {
  color: red;
  font-weight: bold;
  padding-top: 1em;
}

.logo {
    font-family: 'Reenie Beanie', cursive;
    font-size: 9em;
    padding-top: 0.7em;
}

.normal-text {
    font-size: 32px;
}

.headline-button {
  margin-top: 3.5em;
  margin-left: 10%;
  font-size: 2em;
  padding: 0 5%;
}

.headline-input {
  margin-top: 3.5em;
  margin-right: 10%;
  font-size: 2em;
  padding: 0 5%;
  text-align: left;
}

.edit-task {
  margin-top: 3%;
  margin-left: 5%;
  padding-left: 1%;
  width: 85% !important;
  border-style: none;
}

#add-task {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 24px;
  color: black;
}

.trash {
  vertical-align: middle !important;
  font-size: 28px !important;
  color: red;
  border-style: none;

}

.custom-list {
  padding: 1% 2%;
  font-size: 26px;
}

.input-group {
  font-size: 24px;
  padding: 1% 15%;
}

.bullet-points {
  padding-left: 3%;
}

.nav-text {
    font-size: 24px;
}

.nav {
  padding-top: 9px !important;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
}

.start-button {
  padding: 0.1em 1.1em;
  margin-top: 1.5em;
  font-size: 32px;
  width: 10em !important;
}

.start-icon {
  vertical-align: text-top;
}

.footer {
  width: 100%;
  position: static;
  bottom: 2%;
  padding-top: 8.5em;
}

.nav-logo {
  position: absolute;
  padding-left: 0.5em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;

}

#greeting {
  font-size: 96px;
  padding-top: 1em;
}

#new-user-greeting {
  font-size: 45px;
  padding-top: 3em;
}

.log-signup {
  position: absolute;
  right: 0;
  padding-right: 5%;
}

#acc-quest {
  font-size: 24px;
  padding: 25% 0 0 20%;
}



.log-button {
  margin-top: 1.5em;
  font-size: 20px;
  padding: 0.1em 0.8em;
  text-align: center;
  width: fit-content !important;
}

#list-overview {
  padding-left: 15%;
}

#sign-button {
  margin-top: 0.2em;
  margin-left: 20%;
  font-size: 24px;
  padding: 0.1em 0.8em;
}

#disclaimer {
  padding-top: 1.5em;
  color: red;
  font-weight: bolder;
}




@media (max-width: 768px){
  #acc-quest {
    padding-top: 1.8em;
  }

  #sign-button {
    margin: 1em 0 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

}

#save-button {
  margin-top: 1.5em;
  margin-left: 5%;
  font-size: 17px;
  padding: 0.1em 0.8em;
  text-align: center;
  width: fit-content !important;
}

#change-buttons {
  padding-left: 14%;
}

.change-button {
  background-color: #CBCBCB !important;
  margin-top: 1.5em;
  font-size: 14px;
  padding: 0.1em 0.8em;
  text-align: center;
  width: fit-content !important;
}


@media (min-width: 992px) {
  .func-item {
    padding: 0;
    width: 12em;
  }

  .func-card {
    padding: 0 0 0 0;
    position: absolute;
    right: 0;
    padding-right: 5%;
  }

  .small-nav-box {
    width: 9em;
  }

}
