{% extends 'bootstrap/base.html' %}

{% block styling %}
body {
    background-image: url("{{url_for('static', filename='img/leone-venter-VieM9BdZKFo-unsplash.jpg')}}");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
{% endblock %}


{% block navbar %}
    <a href="{{url_for('home')}}" class="navbar-brand nav-logo">ToDoList</a>
  <button class="navbar-toggler toggler-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav func-card">
      <li class="nav-item nav-text func-item">
        <a class="nav-link" href="{{url_for('new_list')}}">
            <span class="google-icon material-symbols-outlined">playlist_add</span>
            Create new list</a>
      </li>
      <li class="nav-item nav-text func-item small-nav-box">
        <a class="nav-link" href="{{url_for('logout')}}">
            <span class="google-icon material-symbols-outlined">logout</span>
            Logout</a>
      </li>
    </ul>
  </div>
{% endblock %}


{% block content %}
    <p class="button btn btn-dark headline-button shadow">Your Lists</p>


        {% if items == 0: %}
            <p class="flash-message content">You don't have any ToDoLists yet.</p>
        {% else: %}
        <ul id="list-overview">
            {% for item in todolists: %}
                <li class="custom-list">
                    <a class="nav-link" href="#">{{item.list_title}}</a>
                </li>
            {% endfor %}
         </ul>
        {% endif %}



    <footer class="footer">
        <div class="container-fluid content">
         <p>© designed and coded by Felix Schwebel</p>
        </div>
    </footer>
{% endblock %}