{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <a href="{{url_for('home')}}" class="navbar-brand nav-logo">ToDoList</a>
  <button class="navbar-toggler toggler-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav func-card">
      <li class="nav-item nav-text func-item small-nav-box">
        <a class="nav-link" href="{{url_for('all_lists', owner_id=current_user.id)}}">
            <span class="google-icon material-symbols-outlined">library_books</span>
            Your Lists</a>
      </li>
      <li class="nav-item nav-text func-item">
        <a class="nav-link" href="{{url_for('new_list')}}">
            <span class="google-icon material-symbols-outlined">playlist_add</span>
            Create new list</a>
      </li>
      <li class="nav-item nav-text func-item small-nav-box">
        <a class="nav-link" href="{{url_for('logout')}}">
            <span class="google-icon material-symbols-outlined">logout</span>
            Logout</a>
      </li>

    </ul>
  </div>
{% endblock %}


{% block content %}
    <form method="POST" class="content">
         <div>
            <input type="text" class="button btn btn-dark shadow headline-input" name="title" value="{{title}}">
        </div>

        {% for item in todos: %}
            <div class="row">
                <div class="col">
                    <input class="edit-task" value="{{ item.text }}" name="{{ item.id }}">
                        <a href="{{url_for('delete_task', task_id=item.id, list_id=list_id)}}">
                            <span class="google-icon material-symbols-outlined trash">delete</span>
                        </a>
                </div>
            </div>
        {% endfor %}
        <input class="button btn btn-dark shadow" id="save-button" type="submit" value="Save">
    </form>

    <footer class="footer">
        <div class="container-fluid content">
         <p>© designed and coded by Felix Schwebel</p>
        </div>
    </footer>
{% endblock %}