{% extends 'bootstrap/base.html' %}

{% block styling %}
body {
    background-image: url("{{url_for('static', filename='img/leone-venter-VieM9BdZKFo-unsplash.jpg')}}");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
{% endblock %}

{% block navbar %}
    <div class="log-signup">
        <a href="{{url_for('login')}}" class="nav-text nav-link navbar-brand">
        <span class="google-icon material-symbols-outlined">login</span>
        Login / Sign up
        </a>
    </div>


{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h3 class="logo">ToDoList</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="normal-text">start keeping track of your todo's</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">

                <a class="button btn btn-dark start-button shadow" href="{{url_for('list')}}">
                    <span class="start-icon google-icon material-symbols-outlined">add_box</span>
                    Start now!
                </a>
            </div>
        </div>
    </div>


    <footer class="footer">
    <div class="container-fluid content">
      <p>© designed and coded by Felix Schwebel, Picture by Leone Venter - unsplashed.com</p>
    </div>
  </footer>

{% endblock %}
