{% extends 'bootstrap/base.html' %}

{% block styling %}
body {
    background-image: url("{{url_for('static', filename='img/leone-venter-VieM9BdZKFo-unsplash.jpg')}}");
    background-size: cover;
}
{% endblock %}

{% block navbar %}
    <ul class="nav me-auto">
    </ul>
    <ul class="nav">
        <li class="nav-item nav-text nav-link link-dark px-2">
            <span class="google-icon material-symbols-outlined">login</span>
        </li>
        <li class="nav-item"><a href="#" class="nav-text nav-link link-dark px-2">Login</a></li>
        <li class="nav-item nav-text nav-link link-dark px-2">/</li>
        <li class="nav-item"><a href="#" class="nav-text nav-link link-dark px-2">Sign up</a></li>
    </ul>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="logo">ToDoList</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="normal-text">start keeping track of your todo's</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">

                <button type="button" class="btn btn-dark btn-lg start-button shadow">
                    <span class="start-icon google-icon material-symbols-outlined">add_box</span>
                    Start now!
                </button>
            </div>
        </div>
    </div>


    <footer class="footer">
    <div class="container-fluid content">
      <p>© designed and coded by Felix Schwebel, Picture by Leone Venter - unsplashed.com</p>
    </div>
  </footer>

{% endblock %}
