{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <div class="nav-logo">
        <a href="" class="nav-link">ToDoList</a>
    </div>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h1 id="greeting">Hi!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <form>
                  <div class="form-group">
                    <label for="formEmailInput">Your Email</label>
                    <input type="text" class="form-control" id="formEmailInput" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="formPasswordInput">Your Password</label>
                    <input type="password" class="form-control" id="formPasswordInput" placeholder="Password">
                  </div>
                </form>
                <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-dark shadow" id="log-button">
                            Login
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <p id="acc-quest">Don't have an account yet?</p>
                <button type="button" class="btn btn-dark shadow" id="sign-button">
                    Sign Up!
                </button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid content">
         <p>© designed and coded by Felix Schwebel</p>
        </div>
    </footer>
{% endblock %}