{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <div class="nav-logo">
        <a href="{{url_for('home')}}" class="nav-link">ToDoList</a>
    </div>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h1 id="greeting">Hi!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.csrf_token }}
                    {{ form.email.label('Your Email') }} {{ form.email(placeholder="Email", class='form-control') }}
                    {{ form.password.label('Your Password') }} {{form.password(placeholder="Password", class='form-control') }}
                    {% with messages = get_flashed_messages() %}
                        {% if messages: %}
                            {% for message in messages: %}
                                <p class="flash-message">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="col-4">
                            <input type="submit" value="Log in" class="button btn btn-dark shadow log-button">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <p id="acc-quest">Don't have an account yet?</p>
                <a type="button" class="button btn btn-dark shadow" id="sign-button" href="{{url_for('register')}}">
                    Sign Up!
                </a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid content">
         <p>© designed and coded by Felix Schwebel</p>
        </div>
    </footer>
{% endblock %}