{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <a href="{{url_for('home')}}" class="navbar-brand nav-logo">ToDoList</a>
  <button class="navbar-toggler toggler-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav func-card">
      <li class="nav-item nav-text func-item small-nav-box">
        <a class="nav-link" href="{{url_for('all_lists', owner_id=current_user.id)}}">
            <span class="google-icon material-symbols-outlined">library_books</span>
            Your Lists</a>
      </li>
      <li class="nav-item nav-text func-item small-nav-box">
        <a class="nav-link" href="{{url_for('logout')}}">
            <span class="google-icon material-symbols-outlined">logout</span>
            Logout</a>
      </li>

    </ul>
  </div>


{% endblock %}


{% block content %}
    {{ ckeditor.load(pkg_type="standard") }}
    {{ ckeditor.config(name='body') }}

    <form method="POST" class="content">
        {{ form.csrf_token }}
        <p>{{ form.list_title(placeholder="Title of your List", class="button btn btn-dark shadow", id="button-input") }}</p>

        {{ form.body()}}
         <input class="button btn btn-dark shadow log-button" type="submit" value="Save">
    </form>


    <footer class="footer">
        <div class="container-fluid content">
         <p>© designed and coded by Felix Schwebel</p>
        </div>
    </footer>
{% endblock %}